[submodule "smodrefs"]
	path = smodrefs
	url = git@gitlab.com:iRebbok/smodrefs.git
	branch = master
[submodule "NorthwoodLib"]
	path = NorthwoodLib
	url = git@github.com:northwood-studios/NorthwoodLib.git
    branch = master